@charset "utf-8";

/* main frame */
.div_footer {
	padding: 50px 25px 20px 25px;
	margin-top: -30px;
	box-sizing: border-box;
}
.div_footer > div {
	display: flex;
	margin: 0 -15px;
}
.div_footer .left {
	flex: 0 0 66.666667%;
	text-align: left;
	font-weight: 300;
}
.div_footer .right {
	flex: 0 0 33.333333%;
	text-align: right;
	font-weight: 500;
}

/* content frame */
.div_item {
	flex-direction: column;
	height: 9rem;
	width: 90%;
	padding: .6rem 0 0 0;
	margin: 0 auto;
	border: 1px solid rgba(71,89,101,.3);
	border-radius: 1rem;
	display: flex;
	justify-content: center;
}
.div_item_title {
	width: 80px;
	margin-bottom: .4rem;
	text-align: center;
	color: #c3c5cb;
	font-weight: 600;
}
.div_exchange {
	margin: 5px 0;
	text-align: center;
}
.div_exchange span {
	width: 1rem;
	display: inline-block;
}
.btn_submit {
	margin: 20px auto;
	width: calc(100% - 20px);
	color: #fff;
	background: #32b1f5;
	border: 0;
	border-radius: 20px;
	height: 55px;
	font: inherit;
	font-size: 20px;
}

/* content - item coin column */
.div_item_coin {
	margin-bottom: 1rem;
	display: flex;
}
.div_item_coin > div {
	margin-left: .4rem;
	padding: .4rem;
}
.div_item_coin > div > div{
	display: flex;
	align-items: center;
	width: 3.1rem;
	height: 3.1rem;
	margin-right: .4rem;
	border-radius: 50%;
	box-shadow: 1px 1px 9px -3px #ededed;
}
.div_item_coin img {
	width: 3rem;
	border: 1px solid transparent;
	border-radius: 50px;
}
.div_item_coin .min-img {
	width: 1.2rem;
	margin-top: 29px;
	margin-left: -13px;
}
.div_item_coin input {
	color: #fff;
	font: inherit;
	font-size: 1.4rem;
	font-weight: 600;
	text-align: right;
	width: 11rem;
	background-color: transparent;
	border: 0;
	resize: none;
	margin-left: auto;
	margin-right: .8rem;
	margin-top: 1rem;
	padding: .4rem;
}
.div_item_coin input::-webkit-input-placeholder {
	color: #999;
}

/* content - item address column */
.div_item_address {
	width: 100%;
	border-top: 1px solid rgba(71,89,101,.3);
	padding: .4rem .8rem;
	box-sizing: border-box;
	font-size: .8rem;
	line-height: 24px;
}
.div_item_address input {
	text-align: right;
	width: 100%;
	padding: 0;
	background-color: transparent;
	border: 0;
	resize: none;
	font: inherit;
	color: #fff;
}
.div_item_address input::-webkit-input-placeholder{
	color:#c8c9cc;
}


/*********************** popup ***********************/

/* select window */
.div_select_item {
	color: #fff;
	padding: 10px 16px;
	line-height: 24px;
	display: flex;
}
.div_select_item_selected {
	background: rgba(167,170,175,.26);
}
.div_select_item img {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	border: 1px solid #6c7284;
	box-shadow: 1px 1px 9px -3px #fff;
}
.div_select_item .min-img {
	width: 16px;
	height: 16px;
	position: absolute;
	border-radius: 50%;
	margin-top: 25px;
	margin-left: 32px;
	box-shadow: 1px 1px 9px -3px #fff;
	background: #fff;
}
.div_select_item > div {
	margin-left: 15px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.div_select_item .chain {
	color: #6c7284;
	font-size: .7rem!important;
}

/* qrcode window */
.div_qrcode_img {
	width:150px; 
	margin: auto; 
	margin-top: 20px; 
	text-align: center;
}
.div_qrcode_text {
	margin: auto; 
	margin-top: 15px;
	color: #fff;
	text-align: center;
	font-size: 12px;
}
.div_qrcode_text span {
	font-size: 16px;
}
.div_qrcode_text i {
	padding: 0 5px;
}
.div_qrcode_addr {
	margin-top: 15px;
	font-size: 12px;
	color: #fff;
	text-align: center;
}
.div_qrcode_addr span {
	font-family: "Menlo";
}
.div_qrcode_addr i {
	padding: 0 5px;
}
.div_qrcode_submit {
	width: 100px; 
	margin: 15px auto;
}
.div_qrcode_submit button {
    color: #fff;
    background: #32b1f5;
    border: 0;
    border-radius: 10px;
    height: 20px;
    font: inherit;
    font-size: 14px;	
}

/* other */
#a_switchChain {
	color: #4ed8de!important;
}
#a_switchChain:active {
	color: #4ed8de!important;
}